body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D9E5F;
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.main-nav {
    background-color: #d8f0c1;
    padding: 10px 20px;
}

.main-nav .nav-link {
    color: #5d5d5d;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.auth-section, .news-section, .plans-section {
    background-color: #e7f7d4;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    background-color: #5D9E5F;
    color: white;
    padding: 10px 20px;
    text-align: center;
}